<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Account Verification Customer Support URL</key>
	<string>YsvjxlOCzWPm32KmZAsoI8Fh+AQe05280EnndmtVIZFVvwKchXES1Kf6loouellN5cS3q8UMNUsYEldVUTmYHZj3IoDff84wOuVFaR03VzA=</string>
	<key>Ad Kit Banner Carousel ID Bills Pay Landing Page</key>
	<string>qSNj9/ZRXLTWXudU6FISMMOcbVLeAkxZqY7m8ST7E0dyr+W8JUEJGl/yDI2B+WpDCB7fBDQZuOyRQ+NcyWA1nAKw7Dv65Tsy6RuGVvFXzWqnsWfCZ0xFs8fWYNxtDjbLsYTpyZtR8ccWKEEr5IpwiAq8IsSs9YTgukm6e5Spz3THlyVJc/iG3+ehGI6nAyVKgbRmfp/oGL9AymI8PASdzm4wETQMrNwCKDCvg2HljMMbkZ5YB/0vCMi4dn1bvUYL9zXDfjnpU0vww/Epw9WlSk9t7Ki8LGw31v8S26XW2eQ=</string>
	<key>Ad Kit Banner Carousel ID Cash In Landing Page</key>
	<string>BJ+IdR1f/JdnTwfYEmgSB++Z6n9+fyryDVuEO34juLW/ZzLH+njufrWQmOsO+Z63cW3wY8s2omAji86AKtjpWrFJeIrgw1XEvMixj52l/6JfciGlHC7q5iKiqrp5o99HUzAk7p1KpJf0cvuMH2GtgPX5wE2QiEvHt/29zkeNUp9+/Df6hMjmNLw4nAKNyrWJtOYqLKFfDg/iYBtIYlBndi/am5jtrgc7RJqQA84jNJjhVHYplj38p20GoscmUkaIF4qahY5FMerwM391pJJwu2TLfsgphceebo2camzwkwRDEk5JIJFW0DGqEaf4aYDE</string>
	<key>Ad Kit Banner Carousel ID Internal Screen</key>
	<string>bYY7GciuK1XuqT3no7Oqb8VPCDFMoIiQbS3PYdHJ+PuP/IU0lb4Pxo7JBafsFCtA6MnhfuTD0xXyPQn6tBOifHQtBoWGUZpXEmaLvqLhaU4QGw7doPZEJj89v2d2VRyyCdZfhq5v8tdDZhpA/WLK4eDK1g8LT7X3rz0LY7z2Ps+fqtfuDXjfsLO+v1U626+xdz4FlJXcxvn1lm7drC/C4+3df5ECoVbpD1629glBLwYaK/4L3lPowYxo8hhK2PrcYN7Wabo2Sc6oghjc0hAI62DHPGRqwzZKSGU/u/W5M5K0M1b1rBaXZe8AyjnS6Mm7EGpsvnE5gbbUxGv9Up1iow==</string>
	<key>Ad Kit Banner Carousel ID Maya Easy Credit</key>
	<string>zge/RN+hQAs8bTHL5q4xc61srfpvBMW1/wbTSBfSNa5UdNC5iQpoYRtMAjK9o/+pkWXyRxFCJyunklD+n596W3gRp7ilw05G5VyS94cRwuQ9e7hNP9A6+D0CwBUsU96XCZ3XrOw5z2s6IBR3fhL3hOLfiWBKBUxksaDj/d8iXu4gDQq9pjIZ//RPJsHYNpwQVZrTxg9L8cFUBJz3GS+AAkPKAoM9WkrFtDf5+zPvSv625V53SRVPTwpJQiEAgHP6EHaSnx8LW/PHe03XTMwUdqlk7SuFRYbuhrzi5Ogt7G8=</string>
	<key>Ad Kit Banner Carousel ID Send Money</key>
	<string>des4mgXL8xkir8ZQyopZL8T7UzmAZA+Qq3hlPYVVgibL2RVbOROLWPrisF5/p/xw90HQAtYt+XVEfTQOBG1sGSe1SKkGL8ftB8YPkPx1RJzyX2IB7FG5XBFqpz88E5LGDWVQ5UuNdIiWYzYMK1fM5jEln/Dq/CLxZ+ajSESb2OExJpFF7WMfI2GNOyAP4R55O5I0CmSdMnejimgcG5QNI7OCBW8ZqV3fvTUMcIpod97lKUpV1TaOSBlevj148rsQGszdiNnXqdgxNfPw4a8hpTytY+1gKed5tpz/T1AlBgcQOmyacOiBriHKjFT/ZuN/Sr2M+Gfe8IozehUDdZlibQ==</string>
	<key>Ad Kit Banner Carousel ID Services</key>
	<string>1ZkqgGfdF1fK5OwWsFXtRk5LSqh5sUWQSXIYiuuKLZ1qk0XmFnBWlrMzRENRD4eLHHFCcV09FOv5k6QhoO3fufm+1YfZZhg6mWCIDh5dX6S5bxt50cbMUlemJUs7vpxVGIdgeHQjdbIOgFLbjUeaWSO1cdGrleJHoY5J+wixj0pDzeIwPWIET7cn3wjzbEp1JcT4u42542zxcTyfEuS9IQvznSyBIZWUdCJX42Al3KG7VuajNSIaUP7TFyqnZQGphNAWmZzLI+UqyYLx6qccL+2d/hdu9zHU3hsMU1byJTo4jrQ3bkHGG/FS3crz4JNivw0x3SFE9HK24ik1/j84DQ==</string>
	<key>Ad Kit Banner Carousel ID Shop Landing Page</key>
	<string>O+sVenn2H9VoiZ6qE303HMH9HCf1dH9PwN9AvJXhQPF8D4gqyD/S7ZSuUW22kne8hmObX/31Hr+JRPa1uiRo1z3Kz8nHTb4o6X6e4gkp4gyx0y+AEwZhfHcbDle1tfcsk9y3ZLRoCLfc5jamZ7jenARhCxklQC0aQYKUitHh87YUzcT5FjXzhyn34bK2QlZPYT44LKK7DlvU9deaRpPpBm/AM3+MVQ4jOKYjNG1FJjGYMNRG5robZ2+unizepLxRAlEGUUzjIN94SMvCpUBB1g==</string>
	<key>Ad Kit Banner Carousel ID Wallet Dashboard</key>
	<string>3Q8IbsFK69j0y0lNrSwrvCpiZWmf41gBdYfjfAZIBFTW51drtAzcIP/StGcnBBqMx6kgYNIl8fSdo2/tNU10rNVdMHRSTlAR6yiqqlBKOVgcQgXOIU8N4KFyHg9JJfmiM9DS7zghjg4+CNNjl6H4cAcsUmwrl1oC00Zi3v2v2ecwGXXZnLrfI7ssDH97UatxBgt4RWt2jatT8Z0DUTFfnlmILXLhu+I18+nsKY3FVaKFnGXaHowuXNsh6j6c4m4ccLP8npzd25h9wp2DCqZkHQ==</string>
	<key>Ad Kit Banner Carousel ID Wallet Dashboard Vertical</key>
	<string>6pvNhpvZjbCqh/bXeSmPfG8zRTBp/IOV1pqCmmgFcDYTNBu2YqSL/dpVA/Nr6y37utjPdZjq3kN2Iu3DddcDLxxrwQvIJ8XBVaf9P1kT9QaaH6jrH87/gSl7j1ypxG4kL1VFSAWHMh4J/Q5DbHryuJdNIhWGrb5JzPNYCbCXkHsMBjEGLM5gg1FQpaKboJ0izhfYFI6PDP+cW2uuhZHtPsawVoVRRrdyBOPX73mus4aeiMGAfkklEnTb6n22Fn7P1nKv/Hebh2NA5c5DyZHj+BiNrkCGsSkQgedi5pkro88BxHaMCfUdkx6uJJ23ZZjR11z/KReDruY+GqJBmMtWBA==</string>
	<key>Ad Kit Inline Banner ID Internal Screen</key>
	<string>txPShRh47GM8HZEU+g6+ryl2z7xZ80xhOPBci2k4KBcQJ/6fH0xZqRlGJvVb1G1/vaKU/DH4t4gKqylsKZjSoA==</string>
	<key>Ad Kit Interstitial ID Credit Dashboard</key>
	<string>bH5EjQe7g0ie5MFTJYmUnjcHJw35SAnzdwpCQz2roXrxoqNQhLG6o18ilaIvhN1TLAGEVDKludgJ1rJ1I8MJug==</string>
	<key>Ad Kit Interstitial ID Internal Screen</key>
	<string>AbdruE45ke374X8PmDgaf53CGVkREu0fJ4quNcvTXVU+zHmNHyBFRliPavKpaBmQii0TNhsDE3Sx9TkRjJR7d0nY3md1uCsWvOdrkz8nohE=</string>
	<key>Ad Kit Interstitial ID Loans Dashboard</key>
	<string>eq0KPWArpMvEECehPLU1p/UT+c0xydkjV527oZMgEWcyA1vLL8K8/cEjjWKz3AFYEYBk4fXSrRTGgqke/gDSEQ==</string>
	<key>Ad Kit Interstitial ID Savings Dashboard</key>
	<string>uwwtwubAOUzMSj3pRz+UUiZm7ZYegmLgkHQlCOqWLKdAZGMzxH615QwehJi7uqoAvyiL406PLYFjHB1+9jmxjQ==</string>
	<key>Ad Kit Interstitial ID Wallet Dashboard</key>
	<string>BFJUfn/Y1tkOtVVy3NK9r8vvY84k50Gq4omTPnjQcGzivkfrMYJr4Fzj9rqacI90tI/VlMw3+vtcTPLVWnATh7UmI0iYz5QQeDy5QvH2zGE=</string>
	<key>Ad Kit User Tags Base URL</key>
	<string>w89HITn43rlkjsjMYv1YYDv7US8gY9u0j64uLhWQd9YHvllrU8x/FB0BNi39sE1Wj3jchxvxhW7zGxJuAfVGrB2L+2vh4wzP42Xjj0iaNyo=</string>
	<key>Apigee Access Token URL</key>
	<string>9KhJPsnl2GB6+0nPKM6hjTV0JzdliFPl9JICpvdL4QLR1lCDDtpKsAjC+3IdEiHJ</string>
	<key>AppsFlyer App ID</key>
	<string>f0Qov4u1j2q4uwQ80d0iS0ovbgSdpilR+oM+BhDezAY=</string>
	<key>AppsFlyer Dev Key</key>
	<string>kZUHGBxNRGA8hxTIQ7IBguL4p5aLGmEKn6lHRbJUzZKwti7hQNLJFemNVmcti4xz</string>
	<key>BSP URL</key>
	<string>BQw9Oh2u4tsCYC6kWtblYmVZOQCh5kN7FUN4NcdzsSfSqKRUv+24NH3T3/svX6og</string>
	<key>Base Auto Cash In URL</key>
	<string>e+4PrNfBP6Fd+qfH7h6w7Iu4r2kAMh3ZGM1T3adDf2kTs3Wh+feFh35NBZkAv1jPzjoKAVOLv5xLuzdVmAn0Dw==</string>
	<key>Base Card URL</key>
	<string>puzYYY8McTQk7RsLyCZFs6ygdjyo2bB6bTraJWSz5WdqI4myXfrZhPibBfXeXqra</string>
	<key>Base Client URL</key>
	<string>xADFGg2c6mhTet1ClKNSvX+LmKSLDOhVrAymbUZ1AGVIbUxQRzsn6iTeSxJBxcIW</string>
	<key>Base Maya Credit URL</key>
	<string>21OWUbk93KIIuOLfaBBt7JUmMyjdss0F8Iehq8cU/1zDgh34QuHLduAvhNwBCt0+cAkKuF/pPBizkD5gJy7HeA==</string>
	<key>Base Maya XP URL</key>
	<string>lPD5UpDGaiNykmN91OVJVgcOAYg9yIX5zDANndQDZxrcKI6JJUJtM0Q7r5bhR2Rfu3qHCk9d7YxDoc16hZgxdHXQ2INtPc1kownWRJwa6kg=</string>
	<key>Base Merchant Payment URL</key>
	<string>tD1roURkQwiqpEYHe5kjuy5VF8tNobQa/bBgZ+MiXj7XXXcz82wW15tfZPpZ7tHSiSzV0iJabPx70IB27gJH/A==</string>
	<key>Base Pay Bills URL</key>
	<string>wd0ltAIc9oMZJ27jS3n3+uAUBDyjNoyoE2Xh5UyEywanUI0gWnSNMkof/tw3tSf/hMFX+TlAYEtdAKTEkI/A3A==</string>
	<key>Base Shop URL</key>
	<string>I4kgDSIi4hOIWXfzGQeC1VYsMEcup1yph7iFhbKGkGiNqVbYN1bUFJLU7WbOFHf1</string>
	<key>Base Unified API Gateway URL</key>
	<string>Ks0QuxrHZnBaI3HrJxw/BBPj4NnofVbhnAUH2KypCWLAzCchm6V22oXBH6IRDtIT</string>
	<key>Base ZolozKYC Client URL</key>
	<string>5ZYrp7wdJ4oVqzt768C7g74SHP3RxhmK/e9aqsf8bVksKfzNO641OqN8orsUzQYtw84CUTPy2LjIf0rJ9L478A==</string>
	<key>Blackpink Giveaway TPID</key>
	<string>vYgUTjfvy0kiUqdeVM2kMNqXLYJ7Gehl4SZDHLQAF01Ovg14SlAsf9b/qmrmXHzYxRKSNajBZU1UO3sQK2zeQg==</string>
	<key>Chatbot URL</key>
	<string>ipeLRf+1V5NZByWU16SBGuwEzaX4Tc+S7c8a6h/yt5cb4HmrqbAVZ9zDUS6AuYdpHZL4Ax25fhH+xrdbN+ZBjg==</string>
	<key>CleverTap Account ID</key>
	<string>EhQbK3ZMIdbxqgyxhRA3jjKr+jEzSVYhND2GB0kGWs0=</string>
	<key>CleverTap Region</key>
	<string>ZFJvWc5qtWhzFdtbDfX4EWNWDYbtfbllnoSR6QVB2t8=</string>
	<key>CleverTap Token</key>
	<string>zDtr+AXhyDAd9wEUMvbqMtEKwEbIF6HvbOjg9OF6XjI=</string>
	<key>Client ID</key>
	<string>MXdAga53csSfUGqn3AvpKxQa6ZPKgvNMyCT39vPiP5k=</string>
	<key>Client Secret</key>
	<string>TaYc70PKZyknNDfJ2t4ySGEpjQfh4L/QqveG1AoenNhtnH9U69Tr9vrUN/sPWhKUHvLmBEfFqUJdUztkv+dUXoeXbFVKVa0vFc0YsRIbeU0brhtC+NspUvGk12A1pznmsKGCh1Mqrv6ivR9aPWYdFg==</string>
	<key>Config URL</key>
	<string>OUBr82IEu0PQVaqtahyo0i/LdEa+1jmKhE38cV92jvL6NYhnyX60IGqE6B5KZKiuLUh1bb55bkrTkdOo9+jqXw==</string>
	<key>DDP API Key</key>
	<string>mzR2G35IlBLWHMPxhpmkfCcwLgkgyUzSLzDtAUR6qRXDqUn37wPrtRszCNVLsZ33e6uifMURpc4cpR02ntjDNg==</string>
	<key>DDP Public Key</key>
	<string>hVNG1aVWQigD3tPPaV1UXEzMjw2CxsSagdED0uINLMbFUv0slihlYauJ8JD7U65v0mBt1dgS/AGicr6X4qsIOEqh9Zp/QbsnenYWHbep2B0rzDiYxP8/EWM8Xggw+DICiux4Es8QRmnrR0P0WQmeExEjmFLSWH0YdLmfq7DS10bcIW/6Rm3PNjt3Q+5bVM49</string>
	<key>DDP Public Key ID</key>
	<string>wRn0MREda1+cqRirW2Ot1KdparZcCxUmDvoT4jLoZk4=</string>
	<key>Donate URL</key>
	<string>mBa7rBVdq9e9FNqDcdUKV/XZbqAi42SHXCRyRidoka7e8A00l4tAQCMqirYKac7f</string>
	<key>Dynatrace Application ID</key>
	<string>BG4E7veKCLO/+YHbQliXEvDwfV4gOOPEI32BpJFTwyyWXq/On8Qhc+Ldo4kB0klRKaJ3EWJsZ0GZOGkY6amHFw==</string>
	<key>Dynatrace Beacon URL</key>
	<string>uS5XAUl0VEUUssB1fPia3vBOZlBt8mcvTcgVsMurJN5VmVu+meSJn0pZA44riq6i/UMX+D45jFbR3cor6U5o6Q==</string>
	<key>File API Auth Key</key>
	<string>uwuFRu6yqAMj4w3Igw5LXRHBUMjWbxf7V7d6cr/NofhpLnZFVulbO8BHmFss5sjktO5N/hgd8Lx9nmsydV2hMA==</string>
	<key>File API Client URL</key>
	<string>Rf5fFH5T6q1JWaDW+Ju0npMPDoqp3kV5S/M5ZPfeuq7VtnO10BdAxC8iuD1HWH7x6EjLlHLBZP7gWU6kjEHueg==</string>
	<key>Forgot Password Base URL</key>
	<string>+oleg1cIsIjggC/NspUzmWBw4cmb9W7ScZkk2Gpdfz2nk4wj+I4KpJEnzNahwYq3</string>
	<key>Forgot Password Success Base URL</key>
	<string>bFh8sXL3gLMLOKRcPFbHUhxYniMDFyFUc8uxeR2AYoD4JjFYeRSinGTNY6Bo3I2X</string>
	<key>Forgot Password V2 Base URL</key>
	<string>9UKxispaZxNGAdBjY+Wd8b36INx8WruPu0Ea8++1zKRzOeQCk0lpB+WrAw6/6Cvz</string>
	<key>GAM Custom Native Format Banner</key>
	<string>vxHqftvT6dKv7YxpHcqquUl+uNhy77LE1cqe9MSBglQ=</string>
	<key>GAM Custom Native Format Interstitial</key>
	<string>V04vxgiv2Vtj4+chrqDixIsiNx5Hb3gVjunFAvySUN8=</string>
	<key>Giphy API Key</key>
	<string>JUsAOB/vI6l2OXJm5M9XG5i6nVTKy8LIBJDZN1b6nW/mXkGvHKUCZXhSnJs4+skcnoeKJt9nycHplDEVWiLPZw==</string>
	<key>Glimpse Client ID</key>
	<string>1qSmsMpEWofzM4axDOLxd2X6GFifpRjkWATc57V1s73MGJZZ8gdpV5BhyrrA1Fk8d0CSF7LHrA7GC3d4q/y/Qw==</string>
	<key>Glimpse Client Secret</key>
	<string>D6/wwi1H6FFu9cg98Q3F+2tvrFRxK/HeNAVAuX/OGMJOXnUhccTxbw7cPPSqB06MJRcDUuw6PRvjBs572MEnLw==</string>
	<key>Glimpse Tracking ID</key>
	<string>lhsteoEhMaQxXnYp7x5eT41N/18y6I1nJt8fL7KITZg=</string>
	<key>Help Base URL</key>
	<string>m9sk0JWLRx6clxvEeldS5/xa8vtjVfFfZNl5K4imfYu2HHZGeZ8S9Ibb+Tkmva/W</string>
	<key>Identity</key>
	<string>ISs1TqvUXhEJQz147wh09xkATN80d/VX+b4eJInmLsM=</string>
	<key>Inbox SDK Base URL</key>
	<string>g3mxEpDW8Z3UkNTu52wptRoapOsgfYYIhCi2vUJi0XWSzOcdXwLp4bZkQo5xtm8sWaH1K3v7GCPNXaOAGdI6JPVIPojF0Pff+wWdIXLUYMM=</string>
	<key>Insights URL</key>
	<string>bNpnlb4ZSPL+gk8CXgqnoZVoS+5h9/uHDNKc1t1+f9aaI90RwWM8vw8bUBZlYS8a</string>
	<key>Issuing Domain</key>
	<string>wnTHhNX2P0CSY3VZWNQQg4Fdqu9RcVLXV6/S6bcEd+I=</string>
	<key>Kount Merchant ID</key>
	<string>oukb9B8MMbzaf5cQZXhPCoJa42EacpGDlz+x7LgRVhY=</string>
	<key>Lookup URL</key>
	<string>/9A0ksZs2XupPSPpPz58wXftho+ujza6pwBO2ihLMGpdkFHFN01upKcxd0aLmHAq</string>
	<key>Loyalty Referral Base URL</key>
	<string>27win3BKoHK4JuNKhMUfJWRbm4ahmnaVI8b2u2cSMxYEwA9GxYt66tD6F+Hg5jXtmBZkP++/VXf/xaVEjYRGCEbMSWLeyQLbKEEzqb3Bkfw=</string>
	<key>MFA Base URL</key>
	<string>4M6j1L54nYoPMkc4hpprZbRIu9LBpnCbRGdXb6iICPXKABCCWxCxc+2+9AguwGW2</string>
	<key>MFA Face Auth Form URL</key>
	<string>4bUwVR5ljCbV9Jhk+sLrfwAJnSfzUv++8LZTuhNOiIFYuk2xpZV2r+Em2XiOviq4AuTzasCeot0BC86IRM9DCw==</string>
	<key>Maya Bank Base URL</key>
	<string>bL6lQXaJ6pFj4mCNxFtZK4ERnFBFPGSrQoSeL4WiBWG/3g5X1ALVx0gdetDgP6Ht</string>
	<key>Maya Mall URL</key>
	<string>0gknz36pRi0biHfDr+u3Oi6G++jMVWgkPYJprbSiGjpCvVxwdn3VxfGsdeFlIgEq</string>
	<key>Maya PH Web View Base URL</key>
	<string>OJCK8FMEGw4/zkWzWsD6mcieNmNic842QVv4bmjqUVZJkN8DQX44LDBDhrpQLceS</string>
	<key>Maya Service Advisories URL</key>
	<string>HcjTsttxqWDjg56ztHAX4/Dkrvc6M50zpqBuetzR+uj8mPLUX7hzrqzF6cJZst0IXFTZQJngW5nlKCHusrwTMg==</string>
	<key>Maya Support Base URL</key>
	<string>k06LbNudrPU6q+1lJB7J/0maa79WgVJJo5M9QnGoE/TK19i/5zDKlYsqrsCeDVOi</string>
	<key>Mayabank Web View Base URL</key>
	<string>y3W6zcqHvRlT16iJuXhoIYRwTsnPww42xtVnX6HxAxkSkD0c62vCfhroC7E/hX3t</string>
	<key>Merchant Acquirer ID</key>
	<string>CFfI2eDt92ybHHu/f21cF2LsJcWuX0d0/4Y9VGJ4NYY=</string>
	<key>Merchant Global Identifier</key>
	<string>gDpFQmlPzgYxgsr8MKyN+CioY0fxQJbqnauWeZxglWs=</string>
	<key>Merchant Payment Type</key>
	<string>9DBhoZWYT8in3Y92aJZmkap/zYCpdF/cMiPX2zKBic8=</string>
	<key>New item</key>
	<string>VAnhh+q9sl1ECyx/slphkfZSxGYj3bp2/shJPadLLRU=</string>
	<key>PAL TPID</key>
	<string>SQeQFN7jh3QhoUz0PJSMDXWyBNgjMM2dUAmOoKfsjKxfq9X/Qgs2vh3NLPlifqISr7X2CO6uQ6C/THHooUXMXA==</string>
	<key>PBB TPID</key>
	<string>QmvOGfjNZ0wXZ/um3dukoWjw6Kw9PCtL0HZbmypfPYp3LRwsKTHpmxjDy7ot8hqQesZQihwGbQrEkSaawCYk6Q==</string>
	<key>Pinning Fingerprint</key>
	<string>wj+q77A7pT/44WVNslMnUdDAxIwd/t7rU8DXPENy9ufQFS+uLjeLnmhHS3vtNTG2erTDy6ZOZMWUgF1uBr1gnZSBN+GXZc7764dz6ARI8p1+isknKWYg5jAQTdkz7KA4zxIpToKil7D9AUWqezfaMQ==</string>
	<key>Profile Service URL</key>
	<string>KJ9ZhcP+izP5u19UqXrut94GFLO2TYH70/3gSkKSh3mpBqDY3JMZU8CHXKswgLjM</string>
	<key>Promotions URL</key>
	<string>aIBEdX2WztOklYUGgJSFWDqJu48dPEt0c6kI/EriSn6wKkM/g8v1ds8g95P7TOZI</string>
	<key>Protect URL</key>
	<string>dhuuCbQJSW8K3+i5HekC+gvM+0+z0Z7q9wzZimJKro/dLbNjxwYeliWvXcWbMlEX</string>
	<key>Push Approval Service URL</key>
	<string>Q16oZY1KfWk6l+8NQ/44LtskGRzUKFcsDGGKlaIfeBf6g0Y3F31Jw1mUhkpkn5d4</string>
	<key>Raffle Promo TPID</key>
	<string>Oylrr1JFby+efm4mxxOlPRQKTrFLrr+Tqm40SuEjbAvhWAJFYsbPKFZ+r657ssajHYv1HWWs1+CfCnrZq2SvFw==</string>
	<key>Request Token Secret</key>
	<string>15MJE6NN6Miy/hEwCfGVGedNU3/p5K4aZcAXwgJcvMHQJRsheKq479tKI7n1INv5h7X2z5BowbFpy+7oCPPxkQ==</string>
	<key>SPKI</key>
	<string>eq4RxnX9yt71X+UhaonHAZIJY4uzCeJ4WbqRPLtn5M5LdOPzpxWo027bY6Cr/atWT21wE/brBaRtes/R5+ahvAa+heQ25h4MTYbgPCAi8mJP/v48SPdBkXjjdC12HzDeQ3/R2lqbAtBRyDGveJqpYyllCE9ef8HGPwLeL/9GnzBA1mi7Q2kdXtXDhaF++/qR4lufhR1aw9nlU6U060kWZw==</string>
	<key>Salesforce Deployment ID</key>
	<string>dtWLNt6PPRY4o/0v5yY5qQgQ1J+eLnjM1+pgjabEb/E=</string>
	<key>Salesforce Live Agent Pod</key>
	<string>pBR5PQS87upB+OaRb43AOq+v9ro3OC+LgI7RI7KsyrISNg8rWyPXeSDi/cuIGZ2ltDtDhmkSLgsCVkUK4wHrZg==</string>
	<key>Salesforce Org ID</key>
	<string>PQTH/InRcgoGa+TJu2yTSDG4R0HckcY6flEW+freCc0=</string>
	<key>Security Center Base URL</key>
	<string>txcmsjjbKUliuTG5gXTpeLh1HvBZ7w/U1KkgcNnMOiX47nz2a+nJbY7t5KkC7ko5</string>
	<key>Shield Secret Key</key>
	<string>kf+kE9Bk3YUskqzPNLtPJ4HP+1T8UwjcM2oD17pn2+7K4a1XhQhwADyhx2XmTU/oe7pbmNl5ZiClAmyLeXYpDKfNhnWYyiMtdOi/L7lH5mI=</string>
	<key>Shield Site ID</key>
	<string>McM48dqpEqx+xnSl+SDKWMwC1g8uIiUQtoVixqINTCoQQ8aJl18IW1bwq1hG1QwsOzK6qvNhNnFSSaSRxQ3KIA==</string>
	<key>Shortened KYC Token</key>
	<string>25AfK2xaB6qsBHSQd7Woz954b4imFfySGOLf9IlArMwiNm/gWs1OvA2id8aNqC2jIDIOpF/FGzLCuR4MUf6cC99ynPdrGfo37FFe33wVbfztz4ZuWdgAuYDdDMdTm0Wkaerjku3PX3DxNY9hVW4ueQ0myvJKFh8uENzofRfdd1ddaNSmcyYPdd/5rwVSMKlQQMn6LuF32Qgi351M8cvd8pq3yKdgeY4SrFNBfEbveW+E9TGmZrWlqoG+nUSSiLmRdQHNq7N6VTdXpedsrzhK9w6Fqxy3Z0EnfQTJGxfnVNKOnfdLxO1+uC++xxo3iHJSaK3LdZLITjqMue85UnaEylujgxDY5Ji7nbTLHy9uVfMlIyvQLcKvvAp9LjelVf98</string>
	<key>Smart Padala Base URL</key>
	<string>BSRpJ58nDjpoZMl065uYlUrKMFKa+kmc1wp59n+rRLsJiHlJs4lplvZgzSGbBzfe</string>
	<key>Split SDK Key</key>
	<string>HzQS7TiHPGoHDetiNPgq1epwl2jUDRbaOcu/Xgqub/kBM2hmZeF8ltV50sq9VakzFijJeGdyLxJISVE11YTrCw==</string>
	<key>Support Base URL</key>
	<string>QiAHh47ZBrO6YbMN3rZJJDXKc7J6wVFfngLq/E5DYJga7lt0l26Qn75BSejlSkRl</string>
	<key>Unified API Gateway Domain</key>
	<string>zwmAEx34m4GhGkNhQkGuwOKY0brinXZBuh5x+t4Q+9s=</string>
	<key>Unified API Gateway SPKI</key>
	<string>BUnuZy2uEzCsX14IChWL90iCCdcShitWpXMd9EJlky6mnvFLJwkEouUrzaRXFRkhRBNQx8xbdoETKv9RqqpVa0WJMeX6JfpeieqBVzQzvdzYQ562uSQUUq5nlrTDHx3g7cqjD6ROaQwOjbp9MMs9QngOFVeyOtuPbIOOZ++NMvQCPy/2/woLG+M9pFclWhAIqv99T0a9rwkxCVXVv0lS9w==</string>
	<key>Update Profile CMS Key</key>
	<string>Vr1x+Y4nYNEMgJML4KrxkZ1+DVrmPtlBgzmCkUZhftR/3sZNx3fOT3YkhYHg8DmGGjeRlGUpr0lY2ec3CU8QNQ==</string>
	<key>Update Profile Token</key>
	<string>hjwH6lhda+5R0JulbzgnoXpkz3pvazPK9tXaiPiAGKcVPsW3dpyRWD/z37DfnHlbiUJup6dDXFe2nzAiCjk/H3P9yTQWB/QPtU88kIhvR+ZFqip77yg9B5Z3qYrgtlkDvWsLbvQvDeYos8MEvOCKWL/zu18WC1CYjZg5PR64iSP/AvmJglJzAC9lWMqhH0/smDLZPHp6IqOtHRNPfkZC3viKnjvmV9RBdueTZj319KeQJDKzgG1Xol1sYqY+hsARVbxN+UjHAyY43Ni9+ud8BA91aT1QQnIuTvMSaapijhrahCQAbdofGwOLyZujIQFbBo8DALfF2HXts3zdqREcl4hpCPYVcJnHSWZrvV3HxAfGAvaLj7tlPud++8tv3MQz</string>
	<key>Update Profile URL</key>
	<string>RnXB+LPdpgZypN+sPk6xxpAXjZi6XQ1bCpfhb9Gnl012vmYzNdKjrNhH7/xZ6nbi</string>
	<key>Updater URL</key>
	<string>d9xgwwewcjWRfJ1wu+gbxTy29+BCbPe57eXjQLfB/fmnWUHGgvTDoAOzKVFglMlSFB4ceGO2Pht6eL/z/dfKiA==</string>
	<key>User Profiles API Key</key>
	<string>US3zUTNZ6CG3mztLSuLAmqu4XDL6GTpugC9vmDJ68AOjd2uLROXHeEsD3YozB4bJps21xw7eaI2GfMKVAcvANA==</string>
	<key>User Profiles URL</key>
	<string>tfbQTuHSNtXS/G12dOMeJ2E+HvoNnreyAh4GFGj3jZW5WYPDlATCaM2buDccPsemMOhvEg9CWPPfOK7FlnOIEQ==</string>
	<key>Web View Base URL</key>
	<string>DfbyplckNyP4hYb/vVyDiLMtdWnVzG+U2lHVNnuuo3pKOcAi8PoGJ7bjMg5bJHG2</string>
	<key>Zoloz KYC Token</key>
	<string>CN+CEx1iFayvt/H2HBevzkv515vCmGoZMXX5VeYMT+TH8xKhuLpWKkTjxKFw5QGv0SP0uXCP3fK3gXj7MjSuXSKrtg3y7q7axmvWKk/utpgM9WVwRj/CZlq4bM+moFxSvTEIiNHjJrbB4DjftzO/XtuU7afd1vJhUOkL/Di5+xEoStg32D/OXU+cSULeR9ofUE9gbAyXl0cS7XcXpxLmVdXnd/jH4sHJ50fcSTkoCsz5N/FtxCKjK8ZSgfSZ2rw6G45qSrrTiS4ugcmAEG8fJ17S8V+YOaDcsMQ1F47EAwKJl5GB4pCreYaCWw/1agJIYkDZBdhQc/01vHj+OYk/QvXzi0qok/5zYBxxbbMCeHhO3Z5HRGas+4qOIQW2dnxt</string>
	<key>ZolozKYC Service URL</key>
	<string>iaUdqGhxJsvRt+1C0gaPvXzBCgYJBVML7X7k2WVO/sY+GmWHQiKV+dNHOMoQDxTz</string>
	<key>eSIM Boxo TPID</key>
	<string>6RXBqgb1XAOTkSPJmH0iCxyuxQnse1KC7LTLilMO3eqnF43XerIw18W8qQ0Dc0mzsHA0jBvckHz7Ed6B60Ercw==</string>
</dict>
</plist>
